<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cx.gmall.product.mapper.BaseAttrInfoMapper">

    <resultMap id="baseAttrInfoMap" type="com.cx.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="attrValueList" ofType="com.cx.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id column="val_id" property="id"/>
        </collection>
    </resultMap>
    <select id="selectBaseAttrInfoList" resultMap="baseAttrInfoMap">
        select
            bai.id,
            bai.attr_name,
            bai.category_id,
            bai.category_level,
            bav.id val_id,
            bav.attr_id,
            bav.value_name
        from
            base_attr_info bai
        inner join base_attr_value bav
        on bai.id=bav.attr_id
        <where>
            bai.is_deleted=0 and bav.is_deleted=0
            <if test="#{category1Id!=null}">
            and bai.category_id=#{category1Id} and bai.category_level=1
            </if>
            <if test="#{category2Id!=null}">
                or bai.category_id=#{category2Id} and bai.category_level=2
            </if>
            <if test="#{category3Id!=null}">
                or bai.category_id=#{category3Id} and bai.category_level=3
            </if>
        </where>

    </select>

    <resultMap id="getAttrListMap" type="com.cx.gmall.model.product.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="attrValueList" ofType="com.cx.gmall.model.product.BaseAttrValue" autoMapping="true">
            <id column="attr_value_id" property="id"/>
        </collection>
    </resultMap>
    <select id="getAttrList" resultMap="getAttrListMap">
        SELECT
            bai.id,
            bai.attr_name,
            bai.category_id,
            bai.category_level,
            bav.id attr_value_id,
            bav.attr_id,
            bav.value_name
        FROM base_attr_info bai
                 INNER JOIN base_attr_value bav
                            on bai.id=bav.attr_id
                 INNER JOIN sku_attr_value sav
                            on bav.id=sav.value_id
        WHERE sku_id=#{skuId}
    </select>
</mapper>